<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="pathFileGH" value="\\172.19.11.156\Santander\Asegs"/>-->
    
    <add key="accGH" value="c:\contratosmaralha\acc\"/>
    <add key="monGH" value="c:\contratosmaralha\mon\"/>
    <add key="vivGH" value="c:\contratosmaralha\viv\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>